.login_button {
  background-color: var(--blue-medium);
  color: var(--white);
}

.login_input {
  background-color: var(--light-blue);
  border-radius: 7px;
  outline: 1px auto var(--blue-medium);
}

.login_title {
  font-family: var(--poppins);
  line-height: 100%;
  color: var(--dark-blue);
}

.login_card {
  background-color: var(--white);
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
}

.blue_shark {
  position: absolute;
  right: 250px;
  top: 5px;
  transform: rotate(42deg);
}

.semi_circle {
  position: absolute;
  right: 175.5px;
  top: 307px;
  transform: rotate(90deg);
}

.page_layout {
  display: grid;
  grid-template-rows: 38vh 58vh;
}
